body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100%;
  background-color: rgb(63, 63, 63);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 60% 37%;
  column-gap: 15px;
  color: white;
}

#logo {
  width: 100%;
}

#logo img {
  width: 95%;
  max-width: 750px;
}

.invalid {
  background-color: lightcoral!important;
  transition: 0.25s;
}

.back {
  position: absolute;
  left: 0;
  margin: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.Navbar {
  background-color: rgba(53,53,53);
  display: inline-block;
  min-height: 650px;
  height: 80vh;
  max-height: 900px;
  border-radius: 0.5em 0 0 0.5em;
  position: relative;
  color: white!important;
}

.nav-button {
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,00.25);
  margin: 3px;
  padding-top: 5px;
  border-radius: 5px;
  transition: 0.25s;

  font-size: 9px;
  font-weight: 700;
  display: block;
}

.nav-button i {
  font-size: 3em;
}

.nav-button:hover {
  background-color: rgba(255,255,255,0.05);
  transition: 0.25s;
  cursor: pointer;
}

.Tab {
  position: absolute;
  left: 62px;
  min-height: 650px;
  height: 80vh;
  max-height: 900px;
  width: 470px;
  background: rgb(53, 53, 53);
  z-index: 99;
  position: absolute!important;
  top: 0!important;
  overflow-y: scroll;
  border-radius: 10px;
}

.Navbar .navbar-button {
  cursor: pointer;
  margin: 2px 2px;
  padding: 7px 0;
  background-color:rgba(255, 255, 255, 0.192);
  position: relative;
  transition: 0.25s;
  width: calc(50% - 10px);
  display: inline-block;
}

.Navbar .navbar-button:hover {
  background-color:rgba(255, 255, 255, 0.397);
}

.stat-row {
  color: rgb(192, 192, 192);
  background: rgba(255, 255, 255, 0.1);
  padding: 3px 15px;
  margin: 2px;
  width: fit-content;
  display: inline-block;
}

.stat-row:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: default;
}

.upgrade-title {
  text-align: left;
  padding-left: 10px;
}

.upgrade-info .upgrade-cost {
  position: absolute;
  top: 0;
  right: 0;
}

.upgrade-stats {
  font-size: 12px;
}

.Navbar .navbar-footer {
  font-size: 0.75em;
  color:rgb(172, 172, 172);
  position: absolute;
  bottom: 10px;
  padding: 5px;
  height: 25px;
  width: calc(100% - 10px);
}

.Navbar .navbar-links a {
  color: rgb(230, 194, 96);
  font-size: 1em;
  padding: 0 5px;
  font-weight: 700;
}

.Navbar .Tab {
  position: absolute;
  left: 62px;
  height: calc(100% - 16px);
}

#Content {
  display: inline-block;
  width: 100%;
  height: 100vh;
}

.title {
  color: white;
  font-size: 26px;
  font-weight: 700;
  height: 50px;
  padding: 10px;
}

.admin-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}

.admin-buttons .admin-columns {
  width: 100%;
}

.admin-columns button {
  font-size: 1em;
  padding: 5px;
  margin: 5px;
  width: calc(100% - 10px);
}

#Inventory {
  min-height: 650px;
  height: 80vh;
  max-height: 900px;
  width: 475px;
  background-color: rgba(53,53,53);
  border-radius: 0 0.5em 0.5em 0;
  display: inline-block;
  flex-flow: column;
}

@media (max-width: 1400px) {
  #Admin {
    height: 100%;
    margin-bottom: 20px;
  }
  .admin-buttons {
    column-gap: 0;
    grid-column-gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar-button {
    width: 90%!important;
  }
  .wrapper {
    display: inline-block;
  }
  .App {
    display: block;
  }
  #Equipment .tooltip {
    top: 50%!important;
    right: 50%!important;
    transform: translate(50%, 50%);
  }
  .tooltip {
    top: -110%!important;
    right: 50%!important;
    width: 180px!important;
    transform: translate(50%, 50%);
  }
  .tooltip button {
    width: 100%!important;
    display: inline-block;
  }
  .Tab {
    z-index: 9999;
    left: 0!important;
    top: 67px!important;
    height: 99vh!important;
    width: calc(95vw - 4px)!important;
  }
  .Navbar {
    float: none;
    display: inline-block;
    margin: 0 auto;
    height: 90%;
    min-height: 0!important;
    width: 95vw;
    border-radius: 0.5em 0.5em 0 0;
  }
  .nav-button {
    display: inline-block;
  }
  .item {
    position: static!important;
  }
  .equip-box {
    position: static!important;
  }
  #Equipment {
    position: relative;
    margin: 0 5px!important;
  }
  #storage-container {
    position: relative;
  }
  #Inventory {
    display: inline-block;
    width: 95vw;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    margin-bottom: 100px;
    border-radius: 0 0 0.5em 0.5em;
  }
  #Content {
    height: 100%;
    min-height: 80vh;
    padding-top: 30%;
    width: 100%
  }
}

@media(max-width: 500px) {
  #storage-container {
    grid-template-columns: repeat(7, 1fr)!important;
    grid-template-rows: repeat(4, 1fr)!important;
  }
}

@media(max-width: 430px) {
  #storage-container {
    grid-template-columns: repeat(6, 1fr)!important;
    grid-template-rows: repeat(4, 1fr)!important;
  }
}

@media(max-width: 380px) {
  #storage-container {
    grid-template-columns: repeat(5, 1fr)!important;
    grid-template-rows: repeat(5, 1fr)!important;
  }
}

@media(max-width: 330px) {
  #storage-container {
    grid-template-columns: repeat(4, 1fr)!important;
    grid-template-rows: repeat(6, 1fr)!important;
  }
}

@media(max-width: 280px) {
  #storage-container {
    grid-template-columns: repeat(3, 1fr)!important;
    grid-template-rows: repeat(8, 1fr)!important;
  }
}

#Inventory .title {
  flex: 0 1 40px;
}

#Equipment {
  margin: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 5px;
  justify-items: center;
}

#Inventory #Equipment {
  flex: 1 1 auto;
}
.equip-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.15)!important;
  border-radius: 0.5em;
  height: 100%;
  min-height: 111px;
  width: 110px;
}

#storage-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 15px;
}

#storage-container .item-box .img-container {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}

.img-container img {
  max-height: 95%;
  padding-top: 3px;
  height: 100%;
  vertical-align: middle;
}

#storage-container .item-box {
  background-color:rgba(255, 255, 255, 0.15);
  border-radius: 0.5em;
  width: 100%;
  aspect-ratio: 1 / 1;
}

#storage-container .img-container:hover {
  background-color:rgba(255, 255, 255, 0.308);
}

.item-box .item {
  height: 100%;
  position: relative;
  border-radius: 0.5em;
}

.equip-box .item {
  border-radius: 0.5em;
  margin: 5px;
  height: 80px;
}

.equip-box .item .img-container {
  position: relative;
  aspect-ratio: 1 / 1;
  height: 100%;
  margin: 0 auto;
}

.equip-box .item .img-container img {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.item-box .tooltip {
  background-color: rgba(53,53,53);
  border: rgba(0,0,0,0.25) 3px solid;
  z-index: 9999;
  position: absolute;
  display: none;
  border-radius: 0.5em;
  top: -100%;
  right: 100%;
  width: 170px;
  text-align: left;
  font-size: 10px;
}

.item-box:hover .tooltip {
  display: block;
}

.equip-box .tooltip {
  background-color: rgba(53,53,53);
  border: rgba(0,0,0,0.25) 3px solid;
  z-index: 9999;
  position: absolute;
  display: none;
  border-radius: 0.5em;
  top: 0%;
  right: 100%;
  width: 180px;
  text-align: left;
  font-size: 10px;
}

.tooltip-header {
  border-radius: 3px;
  padding: 0;
  padding: 5px;
  font-weight: 700;
  color: rgba(238, 238, 238, 0.877)!important;
}

.tooltip-info {
  padding: 2px 10px;
}

.equip-box .tooltip button {
  display: none;
}

.equip-box .tooltip .tooltip-value {
  margin-top: 0;
}

.tooltip-stat  {
  font-size: 16px;
}

.equip-box:hover .tooltip {
  display: block;
}

.tooltip:hover {
  display: block;
}

.rarity-Common {
  font-size: 700;
  color: rgb(139, 139, 139)!important;
}

.Common {
  background-color: rgb(139, 139, 139);
}

.rarity-Uncommon {
  color: rgb(63, 187, 63)!important;
}

.Uncommon {
  background-color: rgb(63, 187, 63);
}

.rarity-Rare {
  color: rgb(75, 75, 207)!important;
}

.Rare {
  background-color: rgb(75, 75, 207)
}

.rarity-Epic {
  font-size: 700;
  color: rgb(199, 89, 226)!important;
}

.Epic {
  background-color: rgb(199, 89, 226)
}


.rarity-Elite {
  color: rgb(124, 16, 224)!important;
}

.Elite {
  background-color: rgb(124, 16, 224)
}

.rarity-Legendary {
  color: rgb(252, 151, 68)!important;
}

.Legendary {
  background-color: rgb(252, 151, 68)
}

.rarity-Mythic {
  color: rgb(248, 232, 86)!important;
}

.Mythic {
  background-color: rgb(248, 232, 86)
}

.rarity-Exotic {
  color: rgb(255, 146, 146)!important;
}

.Exotic {
  background-color: rgb(255, 146, 146)
}

.rarity-Ultimate {
  color: rgb(255, 0, 0)!important;
}

.Ultimate {
  background-color: rgb(255, 0, 0)
}

.tooltip .tooltip-title {
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  color: white
}

.tooltip-title div {
  float: right;
  font-size: 12px;
}

.tooltip button {
  width: calc(50% - 4px);
  padding: 2px;
  margin: 2px;
}

.tooltip-value {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

.tooltip-drop {
  font-size: 10px;
  padding: 0 5px;
  color: lightgray;
}

.coin {
  height: 1.5em!important;
  transform: translateY(4px);
}

/* Rarity Display */
#rarity-display {
  width: calc(100% - 10px);
  margin: 5px;
  font-size: 12px;
  font-weight: 700;
}

.rarity-tab {
  width: fit-content;
  color: rgba(0, 0, 0, 0.50);
  padding: 2px 10px;
  margin: 3px;
  align-self: center;
  border-radius: 5px;
  display: inline-block;
}

#Player {
  min-height: 50px;
}

#Entity {
  min-height: 50px;
  margin-top: 20px;
}

#Restart {
  margin-top: 20px;
  color: white;
  font-weight: 700;
}

#Restart #restart-button {
  font-size: 20px;
}

.panel {
  width: 90%;
  max-width: 750px;
  background: rgb(53, 53, 53);
  margin: 0 auto;
  border-radius: 0.5em;
  padding: 1px;
  position: relative;
}

.player-coins {
  top: -7px;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.coin-count {
  height: 1.5em;
  transform: translateY(6px);
}

.xp-bar {
  height: 5px!important;
}

.xp-bar .remaining-xp-bar {
  background-color: rgb(45, 194, 45)!important;
  height: 100%!important;
  border-radius: 0.5em;
  transition: 0.5s;
}

.health-bar, .xp-bar {
  width: calc(100% - 60px);
  height: 20px;
  margin: 1px 30px 1px 30px;
  padding: 2px;
  top: 0;
  color: white;
  background:rgba(255, 255, 255, 0.144);
  border-radius: 0.5em;
}

.health-xp {
  margin: 5px 0;
}

.health-bar .remaining-health-bar {
  background-color: red;
  height: 100%;
  border-radius: 0.5em;
  transition: 0.5s;
}

.health-bar .total-health-bar {
  position: relative;
  top: -22px;
}

/* SETTINGS NAVBAR */
.settings-title {
  text-align: left;
  padding-left: 10px;
}

.settings-info {
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 12px;
  margin: 2px;
  }
  
  ::-webkit-scrollbar-track {
  background: #0000001f;
  border-radius: 10px;
  width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #979797;  
  width: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #c5c5c5;  
  }

/* UNIVERSAL */
.hidden {
  display: none;
}

.show {
  display: inline-block;
}

.selected {
  background-color: rgba(255,255,255,0.05);
  cursor: default!important;
}

.highlighted {
  outline: gold 2px solid;
  box-sizing: border-box; /* Opera/IE 8+ */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
}

.purchased {
  background-color: rgba(0, 0, 0, 0.25)!important;
  cursor: default!important;
}